.products-container {
    display: flex;
    flex-direction: column;
}

.products-container .product>.product-name {
    margin-left: 16px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: normal;
    color: #ffffff;
    border-bottom: 1px solid rgba(203, 203, 203, 0.5);
}