* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

body {
    background-color: #292929;
    font-family: 'Source Sans Pro', sans-serif;
}

.main-container {
    display: flex;
    margin: 45px;
}

.main-container>div:nth-child(2) {
    overflow-x: hidden;
}

.main-container h1 {
    color: rgba(255, 255, 255, 0.87);
    font-weight: 700;
    font-size: 35px;
    margin-left: 16px;
    margin-bottom: 20px;
}

.main-container h2 {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 500;
    font-size: 25px;
    margin-left: 16px;
    margin-bottom: 20px;
}